<table border="0.5">
	<tr>
		<th>Дата</th>
		<th>Заголовок</th>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<th>2017-05-09</th>
		<th>Заголовок 1</th>
		<th>
			<a href="#">Редактировать</a>
		</th>
		<th>
			<a href="#">Удалить</a>
		</th>
	</tr>
	<tr>
		<th>2017-05-09</th>
		<th>Заголовок 2</th>
		<th>
			<a href="#">Редактировать</a>
		</th>
		<th>
			<a href="#">Удалить</a>
		</th>
	</tr>
	<tr>
		<th>2017-05-09</th>
		<th>Заголовок 3</th>
		<th>
			<a href="#">Редактировать</a>
		</th>
		<th>
			<a href="#">Удалить</a>
		</th>
	</tr>

</table>